@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
    font-family: "Poppins", sans-serif;
}

.headerPageBg {
    background: #f5f5f5;
    border-radius: 0.6rem;
}

table {
    box-shadow: 0 2px 10px #c0c0c0;
}

tr {
    cursor: pointer;
}

tr:hover {
    background: #f3f3f3;
}

th {
    background: #f3f3f3 !important;
    border-bottom: 2px solid #e2e2e2 !important;
    padding: 0.5rem 0.2rem !important;
    text-align: center;
}
th:last-child {
    width: 80px;
}

td {
    padding: 0.4rem 0 !important;
    text-align: center;
    font-size: 1rem !important ;
}
